* {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 20px;
  font-size: 15px;
}
html {
  width: 100%;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
body {
  width: 100%;
  margin: 0px;
  padding: 0px;
}
.container {
  width: 100%;
}
.element {
  margin: 0;
  padding: 0;
}
.specific-element {
  width: 100%;
  margin: 0;
}
.absolute-element {
  position: absolute;
  right: 0;
  left: 0;
}
.layar-dalam {
  width: 1000px;
  margin: auto;
}
.layar-penuh {
  width: 100%;
}
nav {
  z-index: 100;
  color: #fff;
  text-align: center;
  position: fixed;
  line-height: 60px;
  width: 100%;
  transition: background-color 0.5s ease;
}
nav.putih {
  background-color: #fff;
}
nav .logo {
  float: left;
  position: relative;
  line-height: 55px;
  text-align: center;
  margin-left: -200px;
}
nav .logo img {
  vertical-align: middle;
  width: 120px;
}
nav .menu {
  float: right;
  height: 60px;
  max-width: 600px;
}
nav .menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}
nav .menu ul li {
  list-style-type: none;
  float: left;
  line-height: 60px;
}
nav ul li a {
  color: #fff;
  text-align: center;
  padding: 0px 16px 0px 16px;
  text-decoration: none;
}
nav ul li a:hover {
  text-decoration: underline;
}

form {
  display: flex;
  align-items: center;
}

input {
  padding: 10px;
  font-size: 16px;
}

button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 25px 10px 18px 10px;
  display: flex;
  align-items: center;
}

button i, button svg {
  width: 16px;
  height: 16px;
  color: #ffffff;
}
  
  /* pengaturan header */
  header {
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    z-index: 2;
  }
  header video {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    z-index: -2;
  }
  header .intro {
    z-index: 100;
    color: #fff;
    text-align: center;
    position: relative;
    top: 50%;
  }
  header .intro h3 {
    font-size: 60px;
    margin: 0;
    padding: 0;
    font-family: 'CustomFont', serif;
    font-weight: lighter;
  }
  header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #000;
    opacity: 50%;
    z-index: -1;
  }
  .tombol-menu {
    position: absolute;
    top: 1.7rem;
    right: 1rem;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
  }
  .tombol-menu .garis {
    height: 3px;
    background-color: #ffffff;
  }
  section {
    padding: 50px 0px 50px 0px;
  }
  section h3 {
    font-size: 30px;
  }
  section h3::after {
    content: "";
    border-bottom: 5px solid #414141;
    width: 52px;
    display: block;
    margin: 20px auto;
  }
  #aboutus,
  #team,
  #explore {
    text-align: center;
  }
  section p.ringkasan {
    font-style: italic;
    font-size: 18px;
    color: #838383;
  }
  section .konten-isi p {
    font-style: normal;
  }
  nav.putih {
    background-color: #414141;
  }
  nav.putih .tombol-menu .garis {
    background-color: #ffffff;
  }
  nav.putih ul li a {
    color: #ffffff;
  }
  nav .logo img.hitam {
    display: none;
  }
  section.abuabu {
    background-color: #f5f6f6;
  }
  .support,
  .tim,
  .explore {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .support h6,
  .tim h6 {
    margin: 0px;
    margin-top: 20px;
    padding: 0px;
    font-size: 18px;
    font-weight: bold;
  }
  .support img {
    width: 50px;
  }
  .support div,
  .tim div {
    text-align: center;
    width: 26%;
  }
  section#gallery {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    overflow: hidden;
    padding: 10px 0px 10px 0px;
  }
  section#gallery div {
    padding: 10px;
  }
  section#gallery div img {
    height: 100px;
    border-radius: 5px;
  }
  section#gallery div img:hover {
    transition: all 0.2s ease-in-out;
    transform: scale(1.1);
  }
  section.quote {
    background: url("asset/background-mansion.jpg") no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    text-align: center;
    padding: 150px;
  }
  .tim img {
    width: 100%;
    box-shadow: 0px -10px 30px #ccc;
    border-radius: 5px;
  }
  .explore .area {
    width: 47%;
    box-shadow: 0px -10px 30px #ccc;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .explore div.area div {
    width: 50%;
  }
  .explore .area .gambar {
    border-radius: 5px 0px 0px 5px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 300px;
  }
  .explore .area .text article {
    padding: 40px;
  }
  .explore .area .text article h4 {
    margin: 0px;
  }
  .explore .area .text article a {
    color: #333;
    text-decoration: none;
    transition: color 0.5s ease;
  }
  .explore .area .text article a:hover {
    color: #ccc;
  }
  body{
    margin:0;
    overflow-x:hidden;
    }
    
  .footer{
    background:#414141;
    padding:30px 0px;
    font-family: 'Play', sans-serif;
    text-align:center;
  }
    
  .footer .row{
    width:100%;
    margin: 10px 0 -20px 0;
    padding:0.6% 0%;
    color:#b7b7b7;
    font-size:1em;
  }
  .footer .copyright {
    color:#b7b7b7;
    margin-top: 50px;
  }
  .footer .row a{
    text-decoration:none;
    color:#ffffff;
    transition:0.5s;
  }
    
  .footer .row a:hover{
    color:#fff;
  }
    
  .footer .row ul{
    width:100%;
  }
    
  .footer .row ul li{
    display:inline-block;
    margin:0px 30px 0px 30px;
  }
    
  .footer .row a i{
    font-size:2em;
    margin:0% 1%;
  }
  
  .footer .footer-logo{
    margin-bottom: 0;
  }

  .footer-logo .bawah {
    width: 150px;
  }

  .footer .footer-payment {
    margin-top: 30px;
    margin-bottom: -20px;
  }

  .footer-payment .payment1{
    width: 80px;
    padding-left: 20px;
  }

  .footer-payment .payment2{
    width: 65px;
    padding-left: 20px;
    margin-bottom: 8px;
  }

  @media (max-width:720px){
    .footer{
      text-align:left;
      padding:5%;
  }
    .footer .row ul li{
      display:block;
      margin:10px 0px;
      text-align:left;
  }
    .footer .row a i{
      margin:0% 3%;
  }
  }

  @media screen and (max-width: 991.98px) {
    .layar-dalam {
      width: 90%;
    }
    nav .menu ul {
      display: none;
      margin-top: 60px;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
    }
    nav .menu ul li {
      width: 100%;
      border-bottom: 1px solid #000000;
      background-color: #414141;
      line-height: 40px;
    }
    nav .menu ul li a {
      color: #ffffff;
    }
    .tombol-menu {
      display: flex;
    }
    .explore .area {
      display: block;
    }
    .explore div.area div {
      width: 100%;
    }
    .explore .area .gambar {
      border-radius: 5px 5px 0px 0px;
      height: 200px;
    }
    .support {
      display: block;
    }
    .support div {
      width: 100%;
      padding-bottom: 30px;
    }
  }

  /*Font*/
  @font-face {
    font-family: 'CustomFont';
    src: url('asset/BaskervvilleSC-Regular.ttf') format('truetype');
  }
  .layar-dalam h3 {
    font-family: 'CustomFont', serif;
  }
  .layar-dalam h6 {
    font-family: 'CustomFont', serif;
  }
  .text h4 {
    font-family: 'CustomFont', serif;
  }
  .layar-dalam a {
    font-family: 'CustomFont', serif;
  }
